.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 10px;
    font-weight: 600;
    height: 10vh;
}

#quiz-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    color: white bold;
    width: 100vw;
    height: 50px;
}


